{{ includeTemplate "script-header.sh.tmpl" . -}}

{{ $fish := lookPath "fish" -}}

curl -fsSL https://starship.rs/install.sh | sh -s -- -y --bin-dir {{ .binDirAbs }}

{{ $fish }} -c 'fundle install'

{{ $sudo }} sh -c "echo {{ $fish }} >> /etc/shells"
{{ $sudo }} chsh -s {{ $fish }} $(whoami)

{{ if .isMac -}}
echo 'eval $({{ lookPath "brew" }} shellenv)' > ~/.config/fish/conf.d/brew.fish
{{ end }}