{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $fish := lookPath "fish" -}}
{{ $brew := lookPath "brew" -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

curl -fsSL https://starship.rs/install.sh | sh -s -- -y --bin-dir {{ joinPath "~" .binDir }}

{{ $fish }} -c 'fundle install'

{{ $sudo }} sh -c "echo {{ $fish }} >> /etc/shells"
{{ $sudo }} chsh -s {{ $fish }} $(whoami)

{{ if eq .osid "darwin" -}}
echo 'eval $({{ $brew }} shellenv)' > ~/.config/fish/conf.d/brew.fish
{{ end -}}