copy_on_select true
session_serialization true
pane_viewport_serialization true
default_shell "fish"

ui {
    pane_frames {
        hide_session_name false
    }
}

keybinds {
    shared_except "locked" {
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" { MoveFocusOrTab "Down"; }
        bind "Alt k" { MoveFocusOrTab "Up"; }

        bind "Alt n" { NewPane; }
        bind "Alt H" { NewPane "Left"; }
        bind "Alt L" { NewPane "Right"; }
        bind "Alt J" { NewPane "Down"; }
        bind "Alt K" { NewPane "Up"; }

        bind "Ctrl Alt h" { Resize "Increase Left"; }
        bind "Ctrl Alt l" { Resize "Increase Right"; }
        bind "Ctrl Alt j" { Resize "Increase Down"; }
        bind "Ctrl Alt k" { Resize "Increase Up"; }

        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt e" { EditScrollback; }

        bind "Alt Space" { ToggleFloatingPanes; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }

        bind "Alt t" { NewTab; }
        bind "Alt w" { CloseFocus; }
        bind "Alt s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
        }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}
