{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ if eq .osid "linux-debian" -}}
# Ubuntu version installed with .chezmoiexternal
{{ $sudo }} apt install lsd
{{ end -}}

curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh -s -- --bin-dir {{ .binDir }}
curl -sSfL https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh | sh -s -- --git cantino/mcfly --to {{ .binDir }}

{{ end -}}