{{ if or (eq .osid "linux-debian" "linux-ubuntu") true -}}

#!{{ lookPath "bash" }}

set -xeufo pipefail

{{ if .workDevContainer -}}
{{ $mcflyDir := joinPath .persistDirAbs "mcfly" -}}
mkdir -p {{ .dataDirAbs }}
mkdir -p {{ $mcflyDir }}
cd {{ .dataDirAbs }} && ln -s {{ $mcflyDir }} mcfly
{{ end -}}

curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh -s -- --bin-dir {{ .binDirAbs }}
curl -sSfL https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh | sh -s -- --git cantino/mcfly --force --to {{ .binDirAbs }}

eget lsd-rs/lsd --to {{ .binDirAbs }} --asset musl
eget dalance/procs --to {{ .binDirAbs }}
eget bootandy/dust --to {{ .binDirAbs }} --asset musl
eget aristocratos/btop --to {{ .binDirAbs }}

{{ end -}}
