{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $bins := list
  "lsd-rs/lsd"
  "dalance/procs"
  "bootandy/dust"
-}}

#!{{ lookPath "bash" }}

set -eufo pipefail

curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh -s -- --bin-dir {{ .binDirAbs }}
curl -sSfL https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh | sh -s -- --git cantino/mcfly --to {{ .binDirAbs }}

{{ range $bin := $bins -}}
  eget $bin --to {{ .binDirAbs }}
{{ end -}}

{{ end -}}
