{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $packages := list
  "fzf"
  "asciinema"
  "fd-find"
  "httpie"
  "curl"
  "git"
  "wget"
  "unzip"
  "jq"
  "duf"
  "ripgrep"
-}}

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ $sudo }} apt-get update
{{ $sudo }} apt-get install -y {{ $packages | join " " }}

{{ end -}}