{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ if eq .osid "linux-debian" -}}
echo 'deb http://download.opensuse.org/repositories/shells:/fish:/release:/3/Debian_12/ /' | {{ $sudo }} tee /etc/apt/sources.list.d/shells:fish:release:3.list
curl -fsSL https://download.opensuse.org/repositories/shells:fish:release:3/Debian_12/Release.key | gpg --dearmor | {{ $sudo }} tee /etc/apt/trusted.gpg.d/shells_fish_release_3.gpg > /dev/null
{{ else if eq .osid "linux-ubuntu" -}}
{{ $sudo }} add-apt-repository ppa:fish-shell/release-3 -y
{{ end -}}
{{ $sudo }} apt update
{{ $sudo }} apt install fish -y

{{ if .workDevContainer -}}
ln -s {{ joinPath (env "HISTFILE") ".." }} {{ joinPath .chezmoi.homeDir ".local/share/fish/fish_history" }}
{{ end -}}

{{ end -}}