{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh -s -- --bin-dir {{ .binDirAbs }}
curl -sSfL https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh | sh -s -- --git cantino/mcfly --force --to {{ .binDirAbs }}

eget lsd-rs/lsd --to {{ .binDirAbs }} --asset musl
eget dalance/procs --to {{ .binDirAbs }}
eget bootandy/dust --to {{ .binDirAbs }} --asset musl
eget aristocratos/btop --to {{ .binDirAbs }}

{{ end -}}
