sourceDir = {{ env "DOTFILES_SOURCE_DIR" | default "~/.local/share/chezmoi" | quote }}

{{ $isWorkDc := env "DOTFILES_WORK_DC" | default false -}}
{{ $probablyDc := or (env "REMOTE_CONTAINERS_IPC" | not | not) (eq (env "USER") "vscode") -}}
{{ $isCodespaces := env "CODESPACES" | not | not -}}
{{ $binDir := ".local/bin" -}}

[data]
    # Environment Info
    os = {{ .chezmoi.os | quote }}
    arch = {{ .chezmoi.arch | quote }}
    hostname = {{ .chezmoi.hostname | quote }}

    isMac = {{ eq .chezmoi.os "darwin" }}
    isDc = {{ or $probablyDc $isWorkDc $isCodespaces }}
    isWorkDc = {{ $isWorkDc }}
    isCodespaces = {{ $isCodespaces }}

    # Directory paths
    binDir = {{ $binDir | quote }}
    binDirAbs = {{ joinPath .chezmoi.homeDir $binDir | quote }}

    workEmail = "carson@journalytic.com"
    personalEmail = "carson@carsonseese.com"
    gitSigningPubKey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKEgjvCUvsO0qdi0D+H0ksk2HbfGhlQU7fQE4F817N+G"

[github]
    refreshPeriod = "12h"

[edit]
    command = "code"
    args = ["--wait"]
    apply = true

[merge]
    command = "code"
    args = ["--wait", "--merge", "--diff"]

[env]
    HOMEBREW_NO_AUTO_UPDATE = "1"