{{- if eq .chezmoi.os "windows" }}
**/*.sh
!.claude/statusline.sh
!.claude/hooks/*.sh
.local/bin
.bashrc
.zshrc
.hushlogin
.config/sh
.config/fish
.config/ghostty
.config/zellij
.config/pnpm
.docker
Library
{{- if .isPersonal }}
.gitconfig-work
{{- end }}
{{- else }}
Documents
AppData
.config/pwsh

{{- if .isMac }}
.config/pnpm
{{- else }}
Library
{{- end }}

{{- if not .isMac }}
.config/sh/rc.d/05-brew.sh
{{- end }}

{{- if .isDc }}
.config/ghostty
{{- end }}

{{- if not .isOmarchy }}
.config/hypr
.config/omarchy
{{- else }}
.config/ghostty
.config/sh/rc.d/25-mise.sh
.config/sh/rc.d/40-starship.sh
.config/sh/rc.d/42-zoxide.sh
.config/sh/rc.d/70-history.sh
.config/hypr/monitors.lua
{{- end }}

{{- if not (and .isOmarchy .isThinkPad) }}
.config/systemd
.local/src
{{- end }}

{{- if .isPersonal }}
.gitconfig-work
{{- end }}

{{ end -}}
