{{- if eq .chezmoi.os "windows" }}
**/*.sh
!.claude/statusline.sh
!.claude/hooks/*.sh
.local/bin
.bashrc
.zshrc
.hushlogin
.config/fish
.config/ghostty
.config/zellij
.config/pnpm
.docker
Library
{{- if .isPersonal }}
.gitconfig-work
{{- end }}
{{- else }}
Documents
AppData

{{- if .isMac }}
.config/pnpm
{{- else }}
Library
{{- end }}

{{- if .isDc }}
.config/ghostty
{{- end }}

{{- if .isPersonal }}
.gitconfig-work
{{- end }}

{{ end -}}
