{{ if ne .chezmoi.os "windows" -}}
[".config/fish/functions/fundle.fish"]
  type = "file"
  url = "https://git.io/fundle"
  refreshPeriod = "168h"

{{ $egetVersion := "1.3.4" -}}
["{{ .binDir }}/eget"]
  type = "archive-file"
  url = "https://github.com/zyedidia/eget/releases/download/v{{ $egetVersion }}/eget-{{ $egetVersion }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
  path = "eget"
  stripComponents = 1
{{- end }}