[user]
  name = Carson Seese
  email = {{ .personalEmail }}
{{- if and (not .isCodespaces) (not .isWorkDc) }}
  signingkey = key::{{ .gitSigningPubKey }}
{{- end }}
{{ if eq .hostname "CSMBP" -}}
[includeIf "gitdir:~/dev/work/"]
  path = .gitconfig-work
{{- else if .isWorkDc }}
[include]
  path = .gitconfig-work
{{- end }}
{{ if not .isCodespaces -}}
[gpg]
  format = ssh
{{- end }}
  
[core]
  fsmonitor = true
  excludesfile = {{ joinPath .chezmoi.homeDir ".gitignore-global" }}

[merge]
  conflictstyle = zdiff3
  ff = false

[rerere]
  enabled = true

{{ if .isMac -}}
[credential]
  helper = osxkeychain
{{- else if eq .os "windows" }}
[credential]
  helper = manager
{{- end }}
[credential "https://github.com"]
  helper = !gh auth git-credential

{{ if not .isCodespaces -}}
[commit]
  gpgSign = true

[tag]
  gpgSign = true

[gpg "ssh"]
  allowedSignersFile = {{ joinPath .chezmoi.homeDir ".ssh/allowed_signers" }}
{{- end }}

[alias]
  pushfwl = push --force-with-lease

[pull]
  rebase = true