[user]
	name = Carson Seese
	email = {{ .email }}
	signingkey = /Users/carson/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[core]
	fsmonitor = true
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true

{{ if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{ end }}
