[user]
  name = Carson Seese
  email = {{ .workEmail }}
{{- if not .isCodespaces }}
  signingkey = key::{{ .gitWorkPubKey }}
{{- end }}

{{ if not .isDc -}}
[url "git@github.com-work"]
  insteadOf = git@github.com
{{- end }}