[user]
  name = Carson Seese
  email = {{ .personalEmail }}
  signingkey = key::{{ .gitPersonalPubKey }}

{{ if eq .hostname "CSMBP" -}}
[includeIf "gitdir:~/dev/work/"]
  path = .gitconfig-work
{{- else if .isWorkDc }}
[include]
  path = .gitconfig-work
{{- end }}

[gpg]
  format = ssh
  
[core]
  fsmonitor = true

[merge]
  conflictstyle = zdiff3
  ff = false

[rerere]
  enabled = true

{{ if .isMac -}}
[credential]
  helper = osxkeychain
{{- else if eq .os "windows" }}
[credential]
  helper = manager
{{- end }}

[commit]
  gpgSign = true

[tag]
  gpgSign = true

[gpg "ssh"]
  allowedSignersFile = {{ joinPath .chezmoi.homeDir ".ssh/allowed_signers" }}

[alias]
  pushfwl = push --force-with-lease

[pull]
  rebase = true