{{ if not .ephemeral -}}
Host github.com
  Hostname github.com
  User git
  IdentityFile ~/.ssh/git_personal

Host github.com-work
  Hostname github.com
  User git
  IdentityFile ~/.ssh/git_work

Host *
  AddKeysToAgent yes
  IdentitiesOnly yes
  {{ if eq .osid "darwin" -}}
  UseKeychain yes
  {{ end -}}
  Compression yes
  PreferredAuthentications publickey
{{ end -}}