{{ if not .ephemeral -}}
Host github.com
  Hostname github.com
  User git
  IdentityFile ~/.ssh/git_personal
  PreferredAuthentications publickey

Host github.com-work
  Hostname github.com
  User git
  IdentityFile ~/.ssh/git_work
  PreferredAuthentications publickey

Host *
  AddKeysToAgent yes
  IdentitiesOnly yes
  Compression yes
  {{ if eq .osid "darwin" -}}
  UseKeychain yes
  {{ end -}}
{{ end -}}