{{ if not .ephemeral -}}

HashKnownHosts no

{{- if eq .osid "darwin" }}
Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git
  HostName github.com

{{- if stat .gitSshKeyPath }}
  IdentityFile {{ .gitSshKeyPath }}
{{- end }}

{{ end -}}