[tools]
starship = "latest"
lazygit = "latest"
lazydocker = "latest"
ast-grep = "latest"
hyperfine = "latest"
duf = "latest"
fd = "latest"
fzf = "latest"
jq = "latest"
ripgrep = "latest"
lsd = "latest"
gh = "latest"
zoxide = "latest"
rtk = "latest"
"github:Ataraxy-Labs/sem" = "latest"
cloudflared = "latest"
{{ if ne .chezmoi.os "windows" -}}
zellij = "latest"
{{- end }}
{{ if not .isDc -}}
go = "latest"
node = "latest"
bun = "latest"
python = "latest"
pnpm = "latest"
npm = "latest"
{{- end }}

[settings]
idiomatic_version_file_enable_tools = ["node"]
